:root {
    --background-color: #121212;
    --text-color: #fff;
    --sidebar-background-color: #1c1c1c;
    --sidebar-text-color: #bbb;
    --input-background-color: #333;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    padding-top: 8vh;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.new-post{
    margin-bottom: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    width: 95%;
    border-radius: 15px;
    font-size: 0.8rem;
    background-color: var(--sidebar-background-color);
}
.new-post:hover{
    background-color: var(--input-background-color);
}
.new-post img{
    width: 25px;
    height: fit-content;
}
.actions img{
    filter: invert();
    width: 20px;
    cursor: pointer;
}

.sidebar-header h1 {
    font-size: 1.5rem;
    color: var(--text-color);
}

.sidebar-content {
    flex-grow: 1;
    width: 20vw;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: var(--input-background-color);
    border-radius: 50%;
    margin-right: 10px;
}
.profile-image img {
    width: 100%;
}

.profile-info h2 {
    font-size: 1rem;
    margin-bottom: 5px;
}

.profile-info p {
    font-size: 0.9rem;
    color: var(--sidebar-text-color);
}

.sidebar-menu {
    list-style: none;
}

.sidebar-menu li {
    padding: 10px 0;
    cursor: pointer;
}

.sidebar-menu li:hover {
    color: var(--sidebar-text-color);
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.post-section {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
}

.post {
    width: 65%;
    background-color: var(--sidebar-background-color);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.post-profile {
    display: flex;
    align-items: center;
}

.post-profile-image {
    width: 40px;
    height: 40px;
    background-color: var(--input-background-color);
    border-radius: 50%;
    margin-right: 10px;
}

.post-profile-info h3 {
    font-size: 1rem;
}

.post-profile-info p {
    font-size: 0.8rem;
    color: var(--sidebar-text-color);
}

.post-time {
    font-size: 0.8rem;
    color: var(--sidebar-text-color);
}

.post-content {
    margin-bottom: 10px;
}
.post-content p{
    word-wrap: break-word;
}

.post-actions {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}
.media-content img{
    width: 70%;
}
.media-content pre{
    color: rgb(88, 255, 88);
    flex-grow: 1;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: var(--background-color);
}
